@media screen and (max-width: 1640px) {
  .con {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 1248px) {
  .centrador {
    width: 100%;
  }

  .con {
    margin-top: 10rem;
  }
}

@media screen and (max-width: 680px) {
  .texto-portada {
    width: 100%;
    text-align: center;
  }

  main {
    margin-top: 15rem;
  }

  .container-cards-valores {
    flex-direction: column;
    width: 100%;
    margin: 2rem auto auto auto;
    align-items: center;
    height: 600px;
  }

  .contenedor-info-valores {
    width: 60%;
    margin-bottom: 1rem;
  }

  .container-venta-tickets {
    width: 95%;
  }

  .botones-comprar {
    margin-bottom: 2rem;
  }

  .al-pie {
    position: inherit;
  }
}

@media screen and (max-width: 530px) {
  .contenedor-principal {
    height: 40rem;
  }

  .img-playa {
    height: 40rem;
  }
}

@media screen and (max-width: 400px) {
  .con {
    margin-top: 2rem;
  }
}
