/*! HEADER */

nav{
    background-color: #353a40;
}

.izq{
    width: 50%;
}

.logo{
    width: 20%;
    margin-left: 10%;
}

.conf{
    display: inline;
    color: #fff;
    font-size: 20px;
}

.der{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}

.nav-link{
    color: #949c9e;
    font-size: 16px;
}

.nav-link:hover{
    color: #fff;
}

.nav-link:first-child{
    color: #fff;
}

.nav-link:first-child:hover{
    color: #949c9e;
}

.nav-link:last-child{
    color: #2ca444;
}

.nav-link:last-child:hover{
    color: #2b8a3e;
}

/*! PORTADA */

.seccion-portada{
    width: 100%;
}

.portada{
    width: 100%;
    height: 70%;
    filter: brightness(0.4);
    position: absolute;
}

.contenedor-texto{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contenedor-total{
    display: flex;
    flex-direction: column;
}

.centrador{
    width: 70%;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    margin: 10% 5%;
}

.texto-portada{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #fff;
    font-size: 20px;
}

.titulo-portada{
    margin-right: 10%;
    width: 100%;
}

.botones-portada{
    margin-top: 5px;
}

.btn{
    margin: .5rem auto;
}

.btn-outline-secondary{
    color: #fff;
}

.btn-success{
    background-color: #2ca444;
}

/*! MAIN */

.con{
    margin: 7% auto 3% auto;
    width: 100%;
    text-align: center;
}

.conoce{
    display: inline;
}

.cards{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}

.card{
    width: 18rem;
    margin-top: 2rem;
}

.img-card{
    width: 100%;
    height: 18rem;
}

.disciplinas{
    font-weight: 500;
    width: fit-content;
    margin-bottom: 2%;
    display: flex;
    gap: 5%;
}

.javascript{
    background-color: #fec107;
    padding: 0px 5px;
    border-radius: 7px;
}

.react{
    background-color: #17a2b8;
    padding: 0px 5px;
    border-radius: 7px;
    color: white;
}

.negocios{
    background-color: #6c757d;
    padding: 0px 5px;
    border-radius: 7px;
    color: white;
}

.startups{
    background-color: #dc3545;
    padding: 0px 5px;
    border-radius: 7px;
    color: white;
}

.contenedor-principal{
    height: 30rem;
    margin-top: 5%;
    width: 100%;
    display: flex;
    gap: .1rem;
    color: #fff;
}

.contenedor-img{
    width: 50%;
}

.img-playa{
    height: 30rem;
    width: 100%;
}

.contenedor-descripcion{
    width: 50%;
    background-color: #353a40;
}

.contenedor-textos{
    margin-left: 1rem;
    margin-top: 1.5rem;
}

.conviertete{
    margin: 3% auto auto auto;
    width: 100%;
    text-align: center;
}

.formulario{
    text-align: center;
}

.charla{
    border-bottom: 2px dotted black;
}

.contenedor-inputs{
    margin: auto;
    text-align: center;
    width: 80%;
}

.input{
    width: 40%;
    font-size: 14px;
    margin: auto 2%;
    border: 1px solid #cfd4da;
    border-radius: 5px;
    padding: 3px;
}

.textarea{
    margin-top: 2%;
    width: 84.5%;
    height: 6rem;
    font-size: 20px;
    border: 1px solid #cfd4da;
    border-radius: 5px;
    padding: 10px;
}

.recuerda{
    width: 84.5%;
    margin: auto;
    font-size: 12px;
    color: #6c777d;
    text-align: left;
}

.btn-enviar{
    font-size: 18px;
    font-weight: 400;
    width: 84.5%;
    margin: 2% auto;
    color: #fff;
    background-color: #96c93e;
    border: none;
    border-radius: 5px;
    padding: 10px;
}

/*! FOOTER */

.foot-nav{
    width: 100%;
    height: 7rem;
    display: flex;
    text-align: center;
    background-color: #1c3846;
}

.contenedor-links{
    width: 90%;
    margin: auto;
}

.link-nav{
    font-size: 14px;
    margin: auto 3%;
    text-decoration: none;
    color: #fff;
}

.link-nav:hover{
    color: #949c9e;
}

/*! QUERIES */

/*! MAIN */

@media screen and (max-width: 1640px) {
    .con{
        margin-top: 10%;
    }
}

@media screen and (max-width: 1248px) {
    .con{
        margin-top: 13%;
    }
}

@media screen and (max-width: 680px) {
    .centrador{
        width: 100%;
    }
    
    .texto-portada{
        width: 100%;
        text-align: center;
    }

    main{
        margin-top: 25rem;
    }
}

@media screen and (max-width: 530px) {
    .contenedor-principal{
        height: 40rem;
    }

    .img-playa{
        height: 40rem;
    }
}