/*! HEADER */

nav{
    background-color: #353a40;
}

.izq{
    width: 50%;
}

.logo{
    width: 20%;
    margin-left: 10%;
}

.conf{
    display: inline;
    color: #fff;
    font-size: 20px;
}

.der{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}

.nav-link{
    color: #949c9e;
    font-size: 16px;
}

.nav-link:hover{
    color: #fff;
}

.nav-link:first-child{
    color: #fff;
}

.nav-link:first-child:hover{
    color: #949c9e;
}

.nav-link:last-child{
    color: #2ca444;
}

.nav-link:last-child:hover{
    color: #2b8a3e;
}

/*! PORTADA */

.seccion-portada{
    width: 100%;
}

.portada{
    width: 100%;
    height: 70%;
    filter: brightness(0.4);
    position: absolute;
}

.contenedor-texto{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contenedor-total{
    display: flex;
    flex-direction: column;
}

.centrador{
    width: 70%;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    margin: 10% 5%;
}

.texto-portada{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #fff;
    font-size: 20px;
}

.titulo-portada{
    margin-right: 10%;
    width: 100%;
}

.botones-portada{
    margin-top: 5px;
}

.btn-outline-secondary{
    color: #fff;
}

.btn-success{
    background-color: #2ca444;
}

/*! MAIN */

.con{
    margin: 3% auto;
    width: 100%;
    text-align: center;
}

.conoce{
    display: inline;
}

.cards{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}

.card{
    width: 18rem;
}

.img-card{
    width: 100%;
    height: 18rem;
}

.disciplinas{
    font-weight: 500;
    width: fit-content;
    margin-bottom: 2%;
    display: flex;
    gap: 5%;
}

.javascript{
    background-color: #fec107;
    padding: 0px 5px;
    border-radius: 7px;
}

.react{
    background-color: #17a2b8;
    padding: 0px 5px;
    border-radius: 7px;
    color: white;
}

.negocios{
    background-color: #6c757d;
    padding: 0px 5px;
    border-radius: 7px;
    color: white;
}

.startups{
    background-color: #dc3545;
    padding: 0px 5px;
    border-radius: 7px;
    color: white;
}