.container-venta-tickets {
  width: 80%;
  margin: auto;
  text-align: center;
}

.texto-venta {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.texto-venta:first-child {
  font-size: 14px;
}

.titulo-valor {
  font-size: 2.1rem;
}

.form-venta {
  width: 79%;
  margin: auto;
}

.contenedor-nombre {
  width: 100%;
  display: flex;
  gap: 1%;
}

.nombre {
  width: 49.5%;
}

.apellido {
  width: 49.5%;
}

.correo {
  width: 100%;
  margin-top: 1rem;
}

.container-contenido-cant-cat {
  display: flex;
  gap: 1%;
}

.container-cant-cat {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 49.5%;
}

.titulos-cant-cat {
  margin: 0.7rem 0 0.5rem;
}

.inputs {
  border: 1px solid #ced4da;
  height: 2.5rem;
  padding: .5rem;
  border-radius: 5px;
}

.total-compra {
  width: 100%;
  margin: 2rem 0;
  background-color: #cce5ff;
  height: 3.5rem;
  border: none;
  padding: 1.5rem;
  border-radius: 5px;
}

.total-compra::placeholder {
  color: #004085;
}

.botones-comprar {
  width: 100%;
  display: flex;
  gap: 1%;
}

.btn-comprar {
  width: 49.5%;
  background-color: #96c93e;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: .5rem;
  font-weight: 400;
}
